@{
    ViewData["Title"] = "Bienvenue";
}

<body>

    @{
        // *******         CSS       ***********
        // > On utilise par défaut le fichier "site.css"  <
    }


    @{
        // > On installe le jumbotron  <
    }
    <div class="jumbotron">
        <br />
        <h1 class="text-center">Gestion des collaborateurs par société</h1>
        <br />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <a href="Adresse/AdressesList" >
        <p class ="text-center  ElementBadgeGeant"> Démarrer ! </p>
       
    </a>



    </body>